a {
  text-decoration: none;
}

.btn {
  padding: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: none;
}

.circle {
  border-radius: 50%;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}