.filter {
  font-family: avenir-next;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  border-bottom: 3px solid #e7e7e7;
  padding: 11px 24px;
}

.gender-filter,
.size-filter {
  display: flex;
  font-family: avenir-next;
}

.filter-button {
  font-family: inherit;
  color: #D6D6D6;
  background: transparent;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 33px;
  &:focus {
    outline: 0;
  }
}

.gender-filter {
  & .filter-icon {
    margin-right: 30px;
    background: #ebebeb;
    width: 55px;
    height: 55px;
    & img {
      margin: 11px 7px 11px 8px;
    }
  }
}

.size-filter {
  margin-left: 50px;
  & .size-label {
    text-transform: uppercase;
    margin-right: 18px;
    color: #4d42f8;
    font-weight: bold;
    font-size: 24px;
    line-height: 55px;
  }
}

.is-active {
  color: #4d42f8;
}