.shop {
  display: flex;
  flex-direction: column;
}


.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: bold;
  padding: 0.75em 0.833em;
  border-bottom: 3px solid #e7e7e7;
  @include breakpoint($small) {
    flex-direction: row;
  }
}

.gender-filter {
  display: flex;
  align-items: center;
  @include breakpoint($small) {
    margin-right: 2em;
  }
}

.filter-icon {
  display: none;
  width: 2.25em;
  height: 2.292em;
  padding: 0.458em 0.292em;

  @include breakpoint($small) {
    display: inline-block;
    margin-right: 30px;
    background: #ebebeb;

  }
}



.size-filter {
  display: flex;
  align-items: center;
  & .size-label {
    text-transform: uppercase;
    margin-right: 1em;
    color: #4d42f8;
    font-weight: bold;
  }
}


.filter-button {
  color: #D6D6D6;
  background: transparent;
  margin-right: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  &:focus {
    outline: 0;
  }
}

.is-active {
  color: #4d42f8;
}


/*
.gender-filter {
  & .filter-icon {
    margin-right: 30px;
    background: #ebebeb;
    width: 55px;
    height: 55px;
    & img {
      margin: 11px 7px 11px 8px;
    }
  }
}

.size-filter {
  margin-left: 50px;
  & .size-label {
    text-transform: uppercase;
    margin-right: 18px;
    color: #4d42f8;
    font-weight: bold;
    font-size: 24px;
    line-height: 55px;
  }
}

.is-active {
  color: #4d42f8;
}

*/