.products-list {
  padding: 22px 24px 0px 24px;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  background-color: #f4f4f4;
  margin: 0;
  padding: 9px;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
  & .product-sale-badge {
    position: absolute;
    
    top: 17px;
    right: 17px;
  }
}
.product-sale-badge {
  font-size: 14px;
    font-family: avenir-next;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 20px;
    background-color: #ff5c5c;
}

.product-image img {
  width: 100%;
}

.product-price {
  color: #000;
  font-size: 30px;
  font-family: avenir-next;
  font-weight: bold;
  text-decoration: none;
  background: #fff;
  width: 100%;
  display: inline-block;
  padding: 25px 0;
  &.sale-price {
    background: linear-gradient(107deg, #0c09bf, #966dd8);
    color: #fff;
  }
}
