.sidebar {
  display: flex;
  flex-direction: column;
  height: 3em; //72px
  padding: 0.750em 0.833em; //18px 20px
  background: #0e0e0e;
  color: #fff;
  @include breakpoint($small) {
    width: 13.625em; //326px
    height: auto;
    padding: 1.5em 1em;
  }
  @include breakpoint($medium) {
    width: 17.250em; //414px
  }
}

.logo-link {
  & .logo {
    max-height: 1.5em;
  }

  @include breakpoint($small) {
    max-height: 72px;
    text-align: center;
    width: 100%;
  }
  
}

.search-form {
  display: none;
  margin-top: 1.5em;
  @include breakpoint($small) {
    display: block;
  }
}

.search-icon {
  position: absolute;
}

.search-input {
  color: #3A3A3A;
  background: transparent;
  border: 0;
  border-bottom: 4px solid;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 4px;
  
  & :focus {
    outline: 0;
  }
}

.main-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 5.833em;
  & .nav-item {
    line-height: 1.5em;
    text-transform: uppercase;
    color: #303030;
    font-weight: bold;
    &.active,
    &:hover {
      color: #fff;
    }
    &:focus {
      outline: 0;
    }
  }
  @include breakpoint($small) {
    display: flex;
  }
}

.nav-item-arrow {
  padding-left: 5px;
  padding-bottom: 4px;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
  align-items: center;
  & .nav-item {
    font-weight: normal;
    font-family: andale-mono;
  }
}